#basic-modal-content {display:none;}
#basic1-modal-content {display:none;}
/* Overlay */
#simplemodal-overlay {background-color:#fff;}
/* Container */
#simplemodal-container {height:400px; width:500px; color:#000; background-color:#c19c62; border:0px solid #000; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#000; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#fff;}

.login-form {
	font-size:18px;
	font-weight:normal;
	color:#000;

}