#basic-modal-content {display:none;}
#basic1-modal-content {display:none;}
/* Overlay */
#simplemodal-overlay {background-color:#fff;}
/* Container */
#simplemodal-container {border:solid thick #c19c62;padding:10px;box-shadow: 5px 10px 18px #888888;height:400px; width:600px; color:#000; background-image:url("../img/vegetables.png"); background-repeat:none; border:0px solid #000; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#000; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#fff;}

.login-form {
	font-size:18px;
	font-weight:normal;
	color:#ffffff;

}