.grid-container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding-left: 0;
  padding-right: 0;
}
.grid-container img {
  max-width: 100%;
  height: auto;
}
.grid-container .grid {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-container .grid.alpha {
  padding-left: 0;
}
.grid-container .grid.omega {
  padding-right: 0;
}
.grid-container .grid.both {
  padding-left: 0;
  padding-right: 0;
}
.mobile-clear {
  height: 0;
  display: none;
}

.grid-container .grid.desk-12 {
  width: 100%;
}
.grid-container .grid.desk-11 {
  width: 91.66666667%;
}
.grid-container .grid.desk-10 {
  width: 83.33333333%;
}
.grid-container .grid.desk-9 {
  width: 75%;
}
.grid-container .grid.desk-8 {
  width: 66.66666667%;
}
.grid-container .grid.desk-7 {
  width: 58.33333333%;
}
.grid-container .grid.desk-6 {
  width: 50%;
}
.grid-container .grid.desk-5 {
  width: 41.66666667%;
}
.grid-container .grid.desk-4 {
  width: 33.33333333%;
}
.grid-container .grid.desk-3 {
  width: 25%;
}
.grid-container .grid.desk-2 {
  width: 16.66666667%;
}
.grid-container .grid.desk-1 {
  width: 8.33333333%;
}
/* Float grid
	------------------------------------------------*/
.grid-container .grid.desk-11-5 {
  width: 95.83333333%;
}
.grid-container .grid.desk-10-5 {
  width: 87.5%;
}
.grid-container .grid.desk-9-5 {
  width: 79.16666667%;
}
.grid-container .grid.desk-8-5 {
  width: 70.83333333%;
}
.grid-container .grid.desk-7-5 {
  width: 62.5%;
}
.grid-container .grid.desk-6-5 {
  width: 54.16666667%;
}
.grid-container .grid.desk-5-5 {
  width: 45.83333333%;
}
.grid-container .grid.desk-4-5 {
  width: 37.5%;
}
.grid-container .grid.desk-3-5 {
  width: 29.16666667%;
}
.grid-container .grid.desk-2-5 {
  width: 20.83333333%;
}
.grid-container .grid.desk-1-5 {
  width: 12.5%;
}
.grid-container .grid.desk-0-5 {
  width: 4.16666667%;
}
/* Columns grid
	------------------------------------------------*/
.grid-container .grid.desk-1of12 {
  width: 8.33333333%;
}
.grid-container .grid.desk-1of11 {
  width: 9.09090909%;
}
.grid-container .grid.desk-1of10 {
  width: 10%;
}
.grid-container .grid.desk-1of9 {
  width: 11.11111111%;
}
.grid-container .grid.desk-1of8 {
  width: 12.5%;
}
.grid-container .grid.desk-1of7 {
  width: 14.28571429%;
}
.grid-container .grid.desk-1of6 {
  width: 16.66666667%;
}
.grid-container .grid.desk-1of5 {
  width: 20%;
}
.grid-container .grid.desk-1of4 {
  width: 25%;
}
.grid-container .grid.desk-1of3 {
  width: 33.33333333%;
}
.grid-container .grid.desk-1of2 {
  width: 50%;
}
.grid-container .grid.desk-1of1 {
  width: 100%;
}
/**
 * --------------------------------------------------------------------------
 * Responsive
 * --------------------------------------------------------------------------
 */
@media only screen and (max-width: 768px) {
  .grid-container .grid.mobile-100-percents,
  .grid-container .grid.desk-12,
  .grid-container .grid.desk-12-5,
  .grid-container .grid.desk-1of12,
  .grid-container .grid.desk-11,
  .grid-container .grid.desk-11-5,
  .grid-container .grid.desk-1of11,
  .grid-container .grid.desk-10,
  .grid-container .grid.desk-10-5,
  .grid-container .grid.desk-1of10,
  .grid-container .grid.desk-9,
  .grid-container .grid.desk-9-5,
  .grid-container .grid.desk-1of9,
  .grid-container .grid.desk-8,
  .grid-container .grid.desk-8-5,
  .grid-container .grid.desk-1of8,
  .grid-container .grid.desk-7,
  .grid-container .grid.desk-7-5,
  .grid-container .grid.desk-1of7,
  .grid-container .grid.desk-6,
  .grid-container .grid.desk-6-5,
  .grid-container .grid.desk-1of6,
  .grid-container .grid.desk-5,
  .grid-container .grid.desk-5-5,
  .grid-container .grid.desk-1of5,
  .grid-container .grid.desk-4,
  .grid-container .grid.desk-4-5,
  .grid-container .grid.desk-1of4,
  .grid-container .grid.desk-3,
  .grid-container .grid.desk-3-5,
  .grid-container .grid.desk-1of3,
  .grid-container .grid.desk-2,
  .grid-container .grid.desk-2-5,
  .grid-container .grid.desk-1of2,
  .grid-container .grid.desk-1,
  .grid-container .grid.desk-1-5,
  .grid-container .grid.desk-1of1 {
    width: 100%;
  }
  .grid-container .grid.mobile-100-percents.alpha,
  .grid-container .grid.mobile-100-percents.omega,
  .grid-container .grid.desk-12.alpha,
  .grid-container .grid.desk-12.omega,
  .grid-container .grid.desk-12-5.alpha,
  .grid-container .grid.desk-12-5.omega,
  .grid-container .grid.desk-1of12.alpha,
  .grid-container .grid.desk-1of12.omega,
  .grid-container .grid.desk-11.alpha,
  .grid-container .grid.desk-11.omega,
  .grid-container .grid.desk-11-5.alpha,
  .grid-container .grid.desk-11-5.omega,
  .grid-container .grid.desk-1of11.alpha,
  .grid-container .grid.desk-1of11.omega,
  .grid-container .grid.desk-10.alpha,
  .grid-container .grid.desk-10.omega,
  .grid-container .grid.desk-10-5.alpha,
  .grid-container .grid.desk-10-5.omega,
  .grid-container .grid.desk-1of10.alpha,
  .grid-container .grid.desk-1of10.omega,
  .grid-container .grid.desk-9.alpha,
  .grid-container .grid.desk-9.omega,
  .grid-container .grid.desk-9-5.alpha,
  .grid-container .grid.desk-9-5.omega,
  .grid-container .grid.desk-1of9.alpha,
  .grid-container .grid.desk-1of9.omega,
  .grid-container .grid.desk-8.alpha,
  .grid-container .grid.desk-8.omega,
  .grid-container .grid.desk-8-5.alpha,
  .grid-container .grid.desk-8-5.omega,
  .grid-container .grid.desk-1of8.alpha,
  .grid-container .grid.desk-1of8.omega,
  .grid-container .grid.desk-7.alpha,
  .grid-container .grid.desk-7.omega,
  .grid-container .grid.desk-7-5.alpha,
  .grid-container .grid.desk-7-5.omega,
  .grid-container .grid.desk-1of7.alpha,
  .grid-container .grid.desk-1of7.omega,
  .grid-container .grid.desk-6.alpha,
  .grid-container .grid.desk-6.omega,
  .grid-container .grid.desk-6-5.alpha,
  .grid-container .grid.desk-6-5.omega,
  .grid-container .grid.desk-1of6.alpha,
  .grid-container .grid.desk-1of6.omega,
  .grid-container .grid.desk-5.alpha,
  .grid-container .grid.desk-5.omega,
  .grid-container .grid.desk-5-5.alpha,
  .grid-container .grid.desk-5-5.omega,
  .grid-container .grid.desk-1of5.alpha,
  .grid-container .grid.desk-1of5.omega,
  .grid-container .grid.desk-4.alpha,
  .grid-container .grid.desk-4.omega,
  .grid-container .grid.desk-4-5.alpha,
  .grid-container .grid.desk-4-5.omega,
  .grid-container .grid.desk-1of4.alpha,
  .grid-container .grid.desk-1of4.omega,
  .grid-container .grid.desk-3.alpha,
  .grid-container .grid.desk-3.omega,
  .grid-container .grid.desk-3-5.alpha,
  .grid-container .grid.desk-3-5.omega,
  .grid-container .grid.desk-1of3.alpha,
  .grid-container .grid.desk-1of3.omega,
  .grid-container .grid.desk-2.alpha,
  .grid-container .grid.desk-2.omega,
  .grid-container .grid.desk-2-5.alpha,
  .grid-container .grid.desk-2-5.omega,
  .grid-container .grid.desk-1of2.alpha,
  .grid-container .grid.desk-1of2.omega,
  .grid-container .grid.desk-1.alpha,
  .grid-container .grid.desk-1.omega,
  .grid-container .grid.desk-1-5.alpha,
  .grid-container .grid.desk-1-5.omega,
  .grid-container .grid.desk-1of1.alpha,
  .grid-container .grid.desk-1of1.omega {
    padding-left: 0;
    padding-right: 0;
  }
  /* Integer grid
	------------------------------------------------*/
  .grid-container .grid.mob-12 {
    width: 100%;
  }
  .grid-container .grid.mob-11 {
    width: 91.66666667%;
  }
  .grid-container .grid.mob-10 {
    width: 83.33333333%;
  }
  .grid-container .grid.mob-9 {
    width: 75%;
  }
  .grid-container .grid.mob-8 {
    width: 66.66666667%;
  }
  .grid-container .grid.mob-7 {
    width: 58.33333333%;
  }
  .grid-container .grid.mob-6 {
    width: 50%;
  }
  .grid-container .grid.mob-5 {
    width: 41.66666667%;
  }
  .grid-container .grid.mob-4 {
    width: 33.33333333%;
  }
  .grid-container .grid.mob-3 {
    width: 25%;
  }
  .grid-container .grid.mob-2 {
    width: 16.66666667%;
  }
  .grid-container .grid.mob-1 {
    width: 8.33333333%;
  }
  /* Float grid
	------------------------------------------------*/
  .grid-container .grid.mob-11-5 {
    width: 95.83333333%;
  }
  .grid-container .grid.mob-10-5 {
    width: 87.5%;
  }
  .grid-container .grid.mob-9-5 {
    width: 79.16666667%;
  }
  .grid-container .grid.mob-8-5 {
    width: 70.83333333%;
  }
  .grid-container .grid.mob-7-5 {
    width: 62.5%;
  }
  .grid-container .grid.mob-6-5 {
    width: 54.16666667%;
  }
  .grid-container .grid.mob-5-5 {
    width: 45.83333333%;
  }
  .grid-container .grid.mob-4-5 {
    width: 37.5%;
  }
  .grid-container .grid.mob-3-5 {
    width: 29.16666667%;
  }
  .grid-container .grid.mob-2-5 {
    width: 20.83333333%;
  }
  .grid-container .grid.mob-1-5 {
    width: 12.5%;
  }
  .grid-container .grid.mob-0-5 {
    width: 4.16666667%;
  }
  /* Columns grid
	------------------------------------------------*/
  .grid-container .grid.mob-1of12 {
    width: 8.33333333%;
  }
  .grid-container .grid.mob-1of11 {
    width: 9.09090909%;
  }
  .grid-container .grid.mob-1of10 {
    width: 10%;
  }
  .grid-container .grid.mob-1of9 {
    width: 11.11111111%;
  }
  .grid-container .grid.mob-1of8 {
    width: 12.5%;
  }
  .grid-container .grid.mob-1of7 {
    width: 14.28571429%;
  }
  .grid-container .grid.mob-1of6 {
    width: 16.66666667%;
  }
  .grid-container .grid.mob-1of5 {
    width: 20%;
  }
  .grid-container .grid.mob-1of4 {
    width: 25%;
  }
  .grid-container .grid.mob-1of3 {
    width: 33.33333333%;
  }
  .grid-container .grid.mob-1of2 {
    width: 50%;
  }
  .grid-container .grid.mob-1of1 {
    width: 100%;
  }
  .mobile-clear {
    display: block;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
}
@media only screen and (max-width: 480px) {
  .grid-container .grid.mob-1,
  .grid-container .grid.mob-2,
  .grid-container .grid.mob-3,
  .grid-container .grid.mob-4,
  .grid-container .grid.mob-5,
  .grid-container .grid.mob-6,
  .grid-container .grid.mob-7,
  .grid-container .grid.mob-8,
  .grid-container .grid.mob-9,
  .grid-container .grid.mob-10,
  .grid-container .grid.mob-11,
  .grid-container .grid.mob-12 {
    width: 100%;
  }
}
/*
 * --------------------------------------------------------------------------
 * Clearfix
 * --------------------------------------------------------------------------
 */
.clearfix:before,
.grid-container:before,
.clearfix:after,
.grid-container:after {
  content: " ";
  display: table;
}
.clearfix:after,
.grid-container:after {
  clear: both;
}
.clear {
  display: block;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*
-------------------------------------------------------------------------------
Form
-------------------------------------------------------------------------------
*/
.form-label {
  font-weight: 700;
  color: #5b5e73;
  margin-top: 9.5px;
}
.form-description {
  font-size: 12px;
  color: #9d9fb1;
}
label {
  margin-right: 15px;
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  padding: 7px 10px;
  margin: 5px 0 19px 0;
  border-radius: 3px;
  border: 1px solid #c8c9d3;
  background: #ffffff;
  color: #23242c;
}
textarea {
  width: 100%;
  min-height: 100px;
}
textarea.normal {
  min-height: 200px;
}
textarea.big {
  min-height: 400px;
}
textarea.huge {
  min-height: 600px;
}
input.fullwidth,
select.fullwidth {
  width: 100%;
}
input:focus:not([type="range"]),
select:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
}
/* Radio, Checkbox
------------------------------------------------*/
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: baseline;
  margin-right: 5px;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin-bottom: 19px;
}
